.底部{
    height: 0;
    padding: 0;
    margin: 0;
}
.底框{
    width: 100%;
    background-color: #28323b;
    height: 40px;
    position: relative;
    bottom: 40px;
}
.版权{
    color: #d9d9d9;
    position: relative;
    left: 180px;
    font-size: 12px;
    line-height: 40px;
}
.导航2{
    position: relative;
    bottom: 30px;
    left: 920px;
}
.导航2 li{
    display: inline-block;
}
.导航2 a{
    color:#d9d9d9;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
}